version: '3.8'
services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "12Panacek!"
    ports:
      - "1433:1433"
      volumes:
        - sqlserver-data:/var/opt/mssql
        - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      entrypoint: 
        - /bin/bash
        - -c
        - |
          /opt/mssql/bin/sqlservr &
          sleep 30
          /opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P 12Panacek! -i /docker-entrypoint-initdb.d/init.sql
          wait
volumes:
  sqlserver-data:

