@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing
@using BlazorTableApp.Shared

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(BlazorTableApp.Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(BlazorTableApp.Shared.MainLayout)">
            <p>Page not found</p>
        </LayoutView>
    </NotFound>
</Router>
